ALCHEMY_API_KEY=
DIAMOND_ADDRESS=
TELEGRAM_ONFAIL_BOT_TOKEN=
TELEGRAM_ONFAIL_CHANNEL_ID=
TELEGRAM_ONFAIL_TOPIC_ID=
MIN_BASE_BALANCE_ETH=

TOGGLE_EXECUTOR=

ASSIGN_EXECUTOR=
ASSIGN_DELAY_IN_SECONDS=

TOGGLE_SCHEDULE_EXECUTOR=

ORDER_SWEEPER_EXECUTOR=
