ALCHEMY_API_KEY=
DIAMOND_ADDRESS=
TOGGLE_EXECUTOR=
ASSIGN_EXECUTOR=
TOGGLE_SCHEDULE_EXECUTOR=
ORDER_SWEEPER_EXECUTOR=
ORDER_SCANNER_EXECUTOR=
ASSIGN_DELAY_IN_SECONDS=
SUBGRAPH_URL=

TELEGRAM_ONFAIL_BOT_TOKEN=
TELEGRAM_ONFAIL_CHANNEL_ID=
TELEGRAM_ONFAIL_TOPIC_ID=

MIN_BASE_BALANCE_ETH=
